@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans-Regular.woff2'),
  url('fonts/OpenSans-Regular.woff');
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans-SemiBold.woff2'),
  url('fonts/OpenSans-SemiBold.woff');
  font-style: normal;
  font-display: swap;
  font-weight: 600;
}
@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans-Bold.woff2'),
  url('fonts/OpenSans-Bold.woff');
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: 'PlayfairDisplay';
  src: url('fonts/OpenSans-Black.woff2'),
  url('fonts/OpenSans-Black.woff');
  font-style: normal;
  font-display: swap;
  font-weight: 900;
}