.form-section{
  padding-bottom: 71px;
  &__container{
    display: flex;
    align-items: center;
  }
  &__wrapper{
    width: 50%;
    padding-right: 16px;
  }
  &__img{
    width: 100%;
    padding-left: 16px;
  }
  &__title{
    margin-bottom: 10px;
  }
  &__subtitle{
    font-size: 14px;
    color: $colorGreyShade;
    max-width: 582px;
    line-height: 1.2;
    margin-bottom: 17px;
  }
  &__tooltip{
    width: 14px;
    height: 14px;
    background-image: url('../img/tooltip.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    background-color: transparent;
    vertical-align: middle;
    outline: none;
    position: relative;
    transition: background 0.2s linear;
    cursor: pointer;
    &::after{
      position: absolute;
      content: 'Реплицированные с зарубежных источников, исследования формируют глобальную сеть.';
      z-index: 1;
      top: -80px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $colorBlack;
      padding: 5px;
      font-size: 9px;
      color: $colorWhite;
      width: 157px;
      opacity: 0;
      transition: opacity 0.2s linear,
      top 0.2s linear;
      pointer-events: none;
      line-height: 1.5;
    }
    &::before{
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 8.5px 0 8.5px;
      border-color: $colorBlack transparent transparent transparent;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      transition: opacity 0.2s linear,
      top 0.2s linear;
      pointer-events: none;
    }
    &:hover{
      background-image: url('../img/tooltip-secondary.svg');
    }
    &:hover::after{
      opacity: 1;
      top: -70px;
    }
    &:hover::before{
      opacity: 1;
      top: -20px;
    }
    &:focus::after{
      opacity: 1;
      top: -70px;
    }
    &:focus::before{
      opacity: 1;
      top: -20px;
    }
    &:focus{
      background-image: url('../img/tooltip-secondary.svg');
    }
  }
}
.form{
  display: flex;
  flex-direction: column;
  &__input{
    background-color: $colorGreyLight;
    border-radius: 10px;
    border: none;
    padding: 18px;
    transition: background 0.2s linear;
    outline-color: $colorPrimary;
    width: 100%;
    &::placeholder{
      color: $colorGrey;
      font-size: 16px;
    }
    &:hover{
      cursor: pointer;
      background-color: $colorMdGrey;
    }
    &:focus:not(:active){
      background-color: $colorPrimaryLightLight;
      outline-color: $colorPrimary;
    }
  }
  label{
    position: relative;
  }
  label:not(:last-child){
    margin-bottom: 30px;
  }
  &__button{
    width: fit-content;
    padding: 17px 32px 17px 35px;
    margin-bottom: 14px;
  }
  .js-validate-error-label{
    position: absolute;
    top: -20px;
    left: 20px;
  }
}