@import 'variable';
.hero{
  padding-bottom: 68px;
  &__container{
    padding-top: 82px;
    padding-bottom: 80px;
  }
  &__title{
    font-weight: 700;
    font-size: 50px;
    color: $colorGrey;
    max-width: 510px;
    margin-bottom: 49px;
    line-height: 1.3;
    &--white{
      color: $colorWhite;
      max-width: 587px;
    }
  }
  .swiper-slide{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    &--one{
      background-image: url('../img/hero-bg1.jpg');
    }
    &--two{
      background-image: url('../img/hero-bg2.jpg');
    }
    &--three{
      background-image: url('../img/hero-bg3.jpg');
    }
  }
  .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    background-color: $colorBlack;
    opacity: 0.3;
  }
  .swiper-pagination-bullet:not(:last-child){
    margin-right: 12px;
  }
  .swiper-pagination-bullet-active{
    background-color: $colorBlack;
    opacity: 1;
  }
  .swiper-horizontal>.swiper-pagination-bullets, 
  .swiper-pagination-bullets.swiper-pagination-horizontal, 
  .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 21px;
  }
}