.rating{
  padding-bottom: 69px;
  &__title{
    margin-bottom: 22px;
  }
  &__wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(296px,1fr));
    gap: 32px;
    margin-bottom: 32px;
  }
  &__button{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 21px 36px;
  }
}