@import 'variable';
*{
  box-sizing: border-box;
}
body{
  font-family: 'OpenSans',sans-serif;
  font-weight: 400;
  margin: 0;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
p{
  margin: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
button{
  padding: 0;
}
input{
  padding: 0;
}
// .site-container{
//   overflow: hidden;
// }
.container{
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
}
.button{
  background-color: $colorPrimary;
  font-weight: 700;
  font-size: 16px;
  color: $colorWhite;
  padding: 21px 53px;
  border-radius: 10px;
  transition: background 0.2s linear;
  border: none;
  outline: none;
  cursor: pointer;
  &:hover{
    background-color: $colorPrimaryLight;
  }
  &:focus:not(:active){
    background-color: $colorPrimaryLight;
    -webkit-box-shadow: 0 0 0 2px rgba(112, 51, 172, 1) inset;
    -moz-box-shadow: 0 0 0 2px rgba(112, 51, 172, 1) inset;
    box-shadow: 0 0 0 2px rgba(112, 51, 172, 1) inset;
  }
  &:active{
    background-color: $colorPrimaryShade;
  }
}
.button-card{
  border: 2px solid $colorPrimary;
  border-radius: 10px;
  background-color: transparent;
  padding: 15px 35px;
  font-size: 16px;
  font-weight: 600;
  color: $colorPrimary;
  cursor: pointer;
  transition: background 0.2s linear,
  color 0.2s linear,
  border-color 0.2s linear;
  outline: none;
  &:hover{
    background-color: $colorPrimary;
    color: $colorWhite;
  }
  &:focus{
    background-color: $colorPrimaryLight;
    color: $colorWhite;
  }
  &:active{
    background-color: $colorPrimaryShade;
    border-color: $colorPrimaryShade;
  }
}
.title-h2{
  font-size: 32px;
  color: $colorBlack;
  font-weight: 400;
}
.swiper-button-next::after,
.swiper-button-prev::after{
  display: none;
}
.swiper-button-next,
.swiper-button-prev{
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  border: none;
  position: static;
  margin: 0;
  transition: background 0.2s linear;
  outline: none;
}
.swiper-button-next{
  background-image: url('../img/form-btn.svg');
  &:hover{
    background-image: url('../img/form-btn-hover.svg');
  }
  &:focus{
    background-image: url('../img/form-btn-focus.svg');
  }
}
.swiper-button-prev{
  background-image: url('../img/form-btn.svg');
  transform: rotate(180deg);
  &:hover{
    background-image: url('../img/form-btn-hover.svg');
    transform: rotate(180deg);
  }
  &:focus{
    background-image: url('../img/form-btn-focus.svg');
    transform: rotate(180deg);
  }
}
.buttons-swiper{
  position: absolute;
  right: 40px;
  top: 2px;
  width: 77px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}