$colorWhite:#ffffff;
//черная палитра
$colorGrey:#999999;
$colorBlack:#333333;
$colorGreyLight:#F6F6F6;
$colorMdGrey:#EAEAEA;
$colorGreyShade:#666666;
//primary палитра
$colorPrimary:#A65CF0;
$colorPrimaryLight:#C998FB;
$colorPrimaryLightLight:#F8EFFF;
$colorFocuselement:#EBD1FF;
$colorPrimaryShade:#7033AC;
//secondary палитра
$colorSecondary: #FF862F;
$colorSecondaryLight: #FFBD59;
$colorSecondaryBone:#FFF5D1;
$colorSecondaryShade:#BB370E;
//gold
$colorGold:#D5B986;
//color wrong
$colorredInput:#ff6972;
//colo button filter
$colorLime:#DAFFD1;
$colorBone: #FFF5D1;
